.hidden {
    visibility: hidden;
}

.drop-down-content-item a {
    text-decoration: none;
    color: black;
}

#drop-down-toggle-button {
    cursor: pointer;
}

.drop-down-content-item{
    list-style: none;
    font-size: 1.2em;
}

.images img {
    height: 250px;
    width: 400px;
    position: absolute;
}

.nav-arrows {
    width: 60px;
    height: 60px;
    cursor: pointer;
    
}

#images {
    position: relative;
    width: 400px;
    height: 250px;
    border: 5px solid rgb(184, 162, 162);
}

#left-arrow {
    transform: rotate(180deg);
}

#image-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    gap : 20px;
}

.nav-circles div {
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
}

.nav-circles {
    display: flex;
    flex-direction: row;
    gap: 4px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.selected {
    border: 2px rgb(66, 66, 0) solid;
    box-sizing: border-box;
}